h1 {
	text-align:center;
	text-shadow: 0 0 3px #FF0000
}

table, td, th {
	border: 2px dashed grey;
}

#planets {
	border-collapse: collapse;
	margin-left: auto;
 	margin-right: auto;
	
}

#planets td {
	text-align:center;
}

tr > :first-child {
	font-weight: bold;
}

.names {
	color: purple
	
}

img {
	width:200px;
	height: 200px;
}