h1 {
	text-align:center;
	text-shadow: 0 0 3px #FF0000
}

table, td, th {
	border: 2px dashed grey;
}

#planets {
	border-collapse: collapse;
}

#planets td {
	text-align:center;
}

#planets tr:first-child {
	font-weight: bold;
}

.names {
	color: purple
	
}

img {
	width:200px;
	height: 200px;
}

.1fact {

}

.2fact {

}

.3fact {

}

.4fact {

}

.5fact {

}

.6fact {

}

.7fact {

}